<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="ion-text-center">
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card id="main-card">
      <ion-list>
        <ion-item>
          <ion-label>Arroz</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Oléo</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Feijão</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Sal</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Leite</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Manteiga</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Suco</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Farinha de Trigo</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Chá</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Ovos</ion-label>
          <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
